{% extends 'base.html.twig' %}
{% block title %}Listado de Marcas{% endblock %}
{% block body %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Listado de Marcas</h1>
    <a href="{{ path('marca_new') }}" class="btn btn-primary">Nueva Marca</a>
</div>

{% if marcas %}
    <table class="table table-hover table-bordered table-themed shadow-sm">
        <thead class="">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Nº de Coches</th>
            </tr>
        </thead>
        <tbody>
            {% for marca in marcas %}
                <tr>
                    <td>{{ marca.id }}</td>
                    <td>{{ marca.nombre }}</td>
                    <td>{{ marca.coches|length }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-warning">No hay marcas registradas todavía.</div>
{% endif %}
{% endblock %}
