{% extends 'base.html.twig' %}
{% block body %}
<h1>Nuevo Coche</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-success">Guardar</button>
{{ form_end(form) }}
{% endblock %}
